.wrapper {
	min-width: 1440px;
	min-height: 100%;
	display: grid;
	
	
}
.header {
	
	border: 5px solid red;
	width: 1340px;
	height: 109px;
}
.header__menu {
}
.header__links-list {
}
.header__link {
}
.header__logo {
}
.header__logo-img {
	width: 148px;
	height: 105px;
}
.header__address {
}
.address {
}
.main {
	
}
.cover {
	border: 5px solid red;
}
.overlay {
}
.cover__title {
}
<<<<<<< HEAD

.cover__title-word--center {
	justify-self: center;
	padding-right: 75px;
}

.cover__title-word--right {
	justify-self: end;
}

.letter--clear-letter-spacing{
	letter-spacing: 0;
}

=======
>>>>>>> parent of feb34fa (Готовый вариант v.1)
.cover__description {
}

.cover__description-text {
}

.bet-button {
}
.lots {
	border: 5px solid red;
}

.lots__heading {
}
.lots__cards {
}

.card__link {
}
.card {
	border: 5px solid blue;
}

.card_type_film {
}

.card__title {
}

.card__subtitle {
}

.card_type_book {
}

.card_type_picture {
}

.lots__look-more-link {
}
<<<<<<< HEAD

.lots__look-more-link--underline {
	text-decoration: underline;
	text-underline-offset: 5px;
}

/* Блок ABOUT */

=======
.about {
	border: 5px solid red;
}
>>>>>>> parent of feb34fa (Готовый вариант v.1)
.about__column {
}

.about__logo {
	display: flex;
	width: 240px;
	height: 240px;
	background: #000;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}

.about__logo-image {
	width: 148px;
	height: 114px;
}
.about__title {
}

.about__text {
}
.footer {

<<<<<<< HEAD
=======
	grid-row-start: main;
  grid-row-end: footer;
	border: 5px solid red;
}
.footer__address {
}
.footer__menu {
}
.footer__menu-list {
}
>>>>>>> parent of feb34fa (Готовый вариант v.1)
.footer__menu-link {
}
.footer__social-list {
}
.footer__social-link {
}
<<<<<<< HEAD

=======
>>>>>>> parent of feb34fa (Готовый вариант v.1)
.footer__social-icon {
	width: 48px;
	height: 48px;
}
<<<<<<< HEAD

.footer__social-link:last-child{
	padding: 0;
}
=======
>>>>>>> parent of feb34fa (Готовый вариант v.1)
